* {
  margin: 0;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  width: 960px;
  margin: 0 auto;
  background-color: #333333;
}

header {
  text-align: center;
}

header img {
  height: 100px;
}

section {
  margin: 2rem 0;
}

#bio {
  display: flex;
}

#bio img {
  height: 210px;
  width: fit-content;
  border-radius: 1rem;
}

#name-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 2em;
  color: white;
}

#bio-choose {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-bottom: 0;
  border-radius: 1rem;
}

#choose-list {
  padding: 1rem;
  background-color: #424242;
  font-weight: 100;
  display: flex;
  flex-direction: column;
padding-left: 0;
border-radius: .3rem;
}

#choose-list ul {
  margin-left: 0;
  display: flex;
  flex-direction: column;
}

#choose-list h4 {
  color: #e2bc91f1;
}

figure img {
  height: 10rem;
  width: 10rem;
  align-items: center;
}

figcaption {
  background-color: rgba(0, 0, 0, 0.39);
  padding: 0.5rem;
  position: relative;
  bottom: 3rem;
  border-radius: 1em;
}

#tech img {
  height: 200px;
}
#tech {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0%;
}

#interest {
  margin-top: 0;
}

#interest h2 {
  margin-bottom: 0.5rem;
  font-size: 250%;
}

#interest h4 {
  font-size: x-large;
  color: #e2bc91f1;
}

.greyBox {
  background-color: #444040;
  font-weight: 100;
  padding: 1rem;
  border-radius: 0.2rem;
  text-align: center;
}

#copyright {
  color: rgba(255, 255, 255, 0.253);
  background-color: rgba(8, 8, 8, 0.767);
  text-align: center;
  border-radius: 1rem;
}

figure {
  text-align: center;
  font-size: small;
  width: 10rem;
}

h4,
h2 {
  color: bisque;
}

.greyBox p {
  margin-top: 0.75rem;
  text-align: left;
}

.list {
  list-style-position: inside;
}

.list h4 {
  font-size: x-large;
}

section h2 {
  text-align: center;
}
